

h1 {
    color: black;
    font-family: "Roboto";
    font-size: large;
    font-weight: 100%;
    text-align: center; 
    margin-top: 80px;
  }
  .Container {
    background-image: url('https://img.freepik.com/free-photo/sports-stadium_1308-4848.jpg?t=st=1724153672~exp=1724157272~hmac=c66ad71911caba66fe404efda16dfcac36b9afb03a37ec9df4d9066d5b5908e9&w=1060');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.img1{
    height:150px;
    width:150px;
    margin-top: 20px;
    margin-left: 135px; 
  }

  .img2{
    height:150px;
    width:150px;
   
    }
  
  .Card {
    background-color: skyblue;
    height: 53vh;
    width: 80vh;
    background-size: cover;
  
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  




