/*  TASK 4   

.n1{
    text-align: center;
    margin-top:10%;
}

.task4{
    color: white;

}

.bg1{
    padding: 5%;
    background-image: url('https://img.freepik.com/free-vector/gradient-technology-symbols-background_23-2149110134.jpg?t=st=1723990690~exp=1723994290~hmac=fe58c464ee5e93c40afac33d078c2c0a33aedacb3d64a85c81d9a1197d85c25b&w=996');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.bg2{
    border-style: double;
    border-color: white;
    border-radius: 10%;
    background-color: rgb(241, 241, 241);
    padding-bottom: 10%;
    margin-left: 30%;
    width: 40%;
   
}
.b1{
    width: 75%;
    padding: 5%;
    margin-left: 1%;
    margin-top: 1%;
    background-color: blue;
    color: white;
    
}

.b2{
    width: 75%;
    padding: 5%;
    margin-left: 1%;
    margin-top: 1%;
    background-color: rgb(41, 239, 41);
    color: white;
}

.b3{
    width: 75%;
    padding: 5%;
    margin-left: 1%;
    margin-top: 1%;
    background-color: orange;
    color: white;
}

.b4{
    width: 75%;
    padding: 5%;
    margin-left: 1%;
    margin-top: 1%;
    background-color: red;
    color: white;
}
    */


/* Task 5 */

.task5{
    color: white;
}

.m1{
    text-align: center;
    margin-top:10%;
}

.t5bg1{
    padding: 8%;
    background-image: url('https://img.freepik.com/free-vector/background-hexagonal-net-futuristic_23-2148350892.jpg?t=st=1723996074~exp=1723999674~hmac=5feaaf92b55cad6ba19817ff06be282f28ab0b3a194ce8658f9e7eb59a5ed258&w=996');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.t5bg2{
    border-style: double;
    border-color: white;
    border-radius: 10%;
    background-color: rgb(241, 241, 241);
    margin-left: 30%;
    width: 40%;
   
}

.five1{
    width: 100%;
    padding: 3%;
    margin-left: 20%;
    margin-top: 1%;
    background-color: rgb(183, 177, 177);
    color: rgb(68, 66, 66);
}

.five2{
    width: 100%;
    padding: 3%;
    margin-left: 20%;
    margin-top: 1%;
    background-color: rgb(183, 177, 177);
    color: rgb(68, 66, 66);
}

.five3{
    width: 100%;
    margin-left: 20%;
    color: rgb(68, 66, 66);
}

.five4{
    width: 100%;
    padding: 5%;
    margin-left: 20%;
    background-color: rgb(45, 226, 45);
    color: white;
}

.five5{
    width: 100%;
    padding: 3%;
    margin-left: 20%;
    margin-top: 1%;
    text-align: center;
    
    color: rgb(68, 66, 66)
}
    